<section class="our-portfolio py-66">
  <div class="container">
    <div class="row row-gutters-20">
      <div class="col-lg-4 col-md-6 py-3 my-1">
        <div class="portfolio-block">
          <a href="#" class="image-wrapper">
            <div class="image-ratio image-ratio--square">
              <img src="assets/img/portfolio-image--1.png" alt="">
            </div>
            <figcaption class="image-caption text-white">
              <h3>Project name</h3>
              <p>project type</p>
            </figcaption>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 py-3 my-1">
        <div class="portfolio-block">
          <a href="#" class="image-wrapper">
            <div class="image-ratio image-ratio--square">
              <img src="assets/img/portfolio-image--1.png" alt="">
            </div>
            <figcaption class="image-caption text-white">
              <h3>Project name</h3>
              <p>project type</p>
            </figcaption>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 py-3 my-1">
        <div class="portfolio-block">
          <a href="#" class="image-wrapper">
            <div class="image-ratio image-ratio--square">
              <img src="assets/img/portfolio-image--1.png" alt="">
            </div>
            <figcaption class="image-caption text-white">
              <h3>Project name</h3>
              <p>project type</p>
            </figcaption>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 py-3 my-1">
        <div class="portfolio-block">
          <a href="#" class="image-wrapper">
            <div class="image-ratio image-ratio--square">
              <img src="assets/img/portfolio-image--1.png" alt="">
            </div>
            <figcaption class="image-caption text-white">
              <h3>Project name</h3>
              <p>project type</p>
            </figcaption>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 py-3 my-1">
        <div class="portfolio-block">
          <a href="#" class="image-wrapper">
            <div class="image-ratio image-ratio--square">
              <img src="assets/img/portfolio-image--1.png" alt="">
            </div>
            <figcaption class="image-caption text-white">
              <h3>Project name</h3>
              <p>project type</p>
            </figcaption>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 py-3 my-1">
        <div class="portfolio-block">
          <a href="#" class="image-wrapper">
            <div class="image-ratio image-ratio--square">
              <img src="assets/img/portfolio-image--1.png" alt="">
            </div>
            <figcaption class="image-caption text-white">
              <h3>Project name</h3>
              <p>project type</p>
            </figcaption>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
